.common {
      background-image: url("../itemIcons/itemBackgrounds/common.png");
      background-size: cover;
}

.uncommon {
      background-image: url("../itemIcons/itemBackgrounds/uncommon.png");
      background-size: cover;
}

.legendary {
      background-image: url("../itemIcons/itemBackgrounds/legendary.png");
      background-size: cover;
}

.boss {
      background-image: url("../itemIcons/itemBackgrounds/boss.png");
      background-size: cover;
}

.lunar {
      background-image: url("../itemIcons/itemBackgrounds/lunar.png");
      background-size: cover;
}

.void {
      background-image: url("../itemIcons/itemBackgrounds/void.png");
      background-size: cover;
}

.debug {
      background-image: url("../itemIcons/debugIcons/background.png");
      background-size: cover;
}

.missing {
      background-image: url("../itemIcons/debugIcons/missing.png");
      background-size: cover;
}