body {
      background-image: url("../otherImages/background.jpg");
      background-size: cover;
      color: white;
      font-family: 'IJUSTWANTTHISCRAPTOWORK';
      font-size: 20px;
}

@font-face {
      font-family: 'IJUSTWANTTHISCRAPTOWORK';
      src: URL("../CSS/font/Bombardier-Regular.ttf") format('truetype');
}

.class-select {
      font-size: 100px;
      text-align: center;
}

.character-select {
      font-size: 100px;
      text-align: center;
      font-family: 'IJUSTWANTTHISCRAPTOWORK';
}

#stats-left {
      float: left;
      width: 50%;
}

#stats-right {
      float: right;
      width: 50%;
}

#character_image {
      width: 90%;
      height: 90%;

      border: 5px white solid;

      margin-top: 15%;
}

#player-level {
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0);
      color: white;
      border: none;
      width: 50px;
      font-family: 'IJUSTWANTTHISCRAPTOWORK';
}

.item-list {
      display: flex;
      flex-direction: row;
      
      border: 2.5px solid white;
      
      min-width: 95px;
      width: auto;
      max-width: 1260px;

      min-height: 90px;

      flex-wrap: wrap;
}

.draggable-item {
      width: 80px;
      height: 80px;

      text-align: center;
      
      margin: 5px;
      cursor: move;

      position: relative;
}

.moving {
      opacity: 0.5;
}

.item {
      width: 80px;
      height: 80px;
      object-fit: cover;
}

.item-amount-input-div {
      position: absolute;
      top: 54.5px;
      left: 0px;
}

.item-amount-input {
      width: 40px;
      background-color: rgba(21, 21, 21, 0.25);
      height: 20px;
      color: white;
      text-align: right;
}

.stat-display {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
}

.inventories {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 4.5%;
}

.health-number {
      position: absolute;
      margin-top: 482.5px;
      margin-left: 10px;
}

#health-bar {
      height: 50px;
      width: 750px;
      border: 1px solid black;
      display: flex;
      flex-direction: row;
}

#health-bar-health {
      height: 100%;
      background-color: #61ad31;
}

#health-bar-shield {
      height: 100%;
      background-color: #435cb8;
}

#health-bar-perma {
      height: 100%;
      background-color: #212121;
}