.item-list {
      display: flex;
      flex-direction: row;
      
      border: 2.5px solid black;
      
      min-width: 95px;
      width: auto;
      max-width: 1260px;

      min-height: 90px;

      flex-wrap: wrap;
}

.draggable-item {
      width: 80px;
      height: 80px;

      text-align: center;
      
      margin: 5px;
      cursor: move;

      position: relative;
}

.moving {
      opacity: 0.5;
}

.item {
      width: 80px;
      height: 80px;
      object-fit: cover;
}

.item-amount-input-div {
      position: absolute;
      top: 54.5px;
      left: 0px;
}

.item-amount-input {
      width: 40px;
      background-color: rgba(21, 21, 21, 0.25);
      height: 20px;
      color: white;
      text-align: right;
}

.stat-display {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
}

.inventories {
      display: flex;
      justify-content: center;
      flex-direction: column;
}